{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
            <div class="row">

                <div class="col-md-6" style="float:right;">
>


        <h1>Create a Status</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in ribbit_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
                <button type="submit" value="Ribbit!">submit</button>
            </form>
        </p>
    </div>
    <div class="col-md-6" style="float:left;">
        <h1>Buddies' Status</h1>
        {% for ribbit in ribbits %}
        <div class="ribbitWrapper">
            <a href="/users/{{ ribbit.user.username }}">
                <img class="avatar" src="{{ ribbit.user.profile.gravatar_url }}">
                <span class="name">{{ ribbit.user.first_name }}</span>
            </a>
            @{{ ribbit.user.username }}
            <p>
                {{ ribbit.content }}
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}